body {
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
#game{
 display: block;
}

.board {
 min-width:  256px;
 min-height: 256px;

 border: 8px solid #505050;
 border-radius: 8px;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

 background-color: gray;
}
.quadradomenor {
  width: 64px;
  height: 64px;
  margin: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: lightgray;
  border-radius: 2px;
}