body {
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
#game{
 display: flex;
 justify-content: space-evenly;
 width: 100vh;
 flex-wrap: wrap;
 align-items: center;
 height: 100vh;
}

.board {
 min-width:  64px;
 min-height: 64px;

 margin: 24px;
 border: 8px solid #505050;
 border-radius: 8px;
 padding: 2px 3px;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
 background-color: gray;
}

.row {
 display: flex;
 min-height: 64px;
 margin: 2px 0;
}

.cell {
    height: 64px;
    width: 64px;
    margin: 0 1px;
    border-radius: 2px;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.remove {
 background-color: unset;
 box-shadow: none;
 }
