body {
    margin: 0;
    height: 100vh;
}

main {
    display: flex;

    justify-content: center;
    align-items: center;
    height: inherit;
}

#game {
    display: flex;

    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

.board {
    position: relative;

    min-width: 256px;
    min-height: 256px;
    margin: 24px;

    border: 8px solid #505050;
    border-radius: 8px;
    padding: 2px 3px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background: rgb(85, 110, 138);
}

.row {
    display: flex;
    flex-direction: row;

    height: auto;
    margin: 2px 0;
}

.cell {
    height: 64px;
    width: 64px;
    margin: 0 1px;

    border-radius: 2px;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.block {
    background-color: chocolate;
}

.goal {
    background-color: burlywood;
}

.wall {
    background-image: url(./tile_0040.png)
}

.player {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;

    margin: 2px;
    height: 60px;
    width: 60px;
    border-radius: 16px;
    border: solid 8px #505050;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: chocolate;

    transition:
        left 150ms ease-in-out 50ms,
        top 150ms ease-in-out 50ms;
}

.remove {
    background-color: unset;
    box-shadow: none;
}
/* }
height: 62px;
    width: 62px;
    margin-left: auto;
    border-radius: 16px;
    box-sizing: border-box;
    border: solid 6px;
    background-color: chocolate; */