body {
    margin: 0;
    height: 100vh;
    background-image: url(./assets/pxArt.png);
}

main {
    display: flex;

    justify-content: center;
    align-items: center;
    height: inherit;
}

#game {
    display: flex;

    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

.board {
    position: relative;

    min-width: 256px;
    min-height: 256px;
    margin: 24px;

    border: 8px solid #bb0000;
    border-radius: 8px;
    padding: 2px 3px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background: rgb(112, 42, 42);
}

.row {
    display: flex;
    flex-direction: row;

    height: auto;
    margin: 2px 0;
}

.cell {
    height: 64px;
    width: 64px;
    margin: 0 1px;

    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.box {
    position: absolute;

    box-sizing: border-box;

    margin: 2px;
    height: 60px;
    width: 60px;


    background-image: url('./assets/frasco.png');

    transition:
        left 150ms ease-in-out 50ms,
        top 150ms ease-in-out 50ms;
}

.goal {
    background-size: cover;
    background-image: url('./assets/chemistrybarril.png');
}

.wall {
    background-color: rgb(68, 68, 68);
}

.player {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;

    margin: 8px;
    height: 60px;
    width: 59px;
    
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
    background-image: url('./assets/hisenberg.png');

    transition:
        left 150ms ease-in-out 50ms,
        top 150ms ease-in-out 50ms;
}

.remove {
    background-color: unset;
    box-shadow: none;
}

/* }
height: 62px;
    width: 62px;
    margin-left: auto;
    border-radius: 16px;
    box-sizing: border-box;
    border: solid 6px;
    background-color: chocolate; */